.chart-ph {
    max-width: 700px;
    max-height: 400px;
    margin: 30px auto;
}
.wrapper-chart {
    position: relative;
    overflow: auto;
    width: fit-content;
}
#ChartPhRes {
    margin: auto;
    height: 400px !important;
    width: 650px !important;
    aspect-ratio: auto 650 / 400;
}
@media (max-width: 650px) {
    .wrapper-chart {
        width: 100%;
    }
}
@media (max-width: 480px) {
    #ChartPhRes {
        width: 372px !important;
        min-height: 300px !important;
        height: 300px !important;
        aspect-ratio: auto 372 / 300;
    }
    .wrapper-chart {
        box-shadow: 0 3px 10px rgb(10 10 10 / 50%);
        transform: translateX(-5px);
    }
}
