.chart-ph {
    max-width: 700px;
    max-height: 400px;
    margin: 30px auto;
}
.wrapper-chart {
    position: relative;
    width: 100%;
    overflow: auto;
}
#ChartPhRes {
    margin: auto;
    height: 400px !important;
    width: 650px !important;
    aspect-ratio: auto 650 / 400;
}
@media (max-width: 480px) {
    #ChartPhRes {
        width: 372px !important;
        min-height: 300px !important;
        height: 300px !important;
        aspect-ratio: auto 372 / 300;
    }
}
