.chart-ph {
    max-width: 700px;
    max-height: 400px;
    margin: 30px auto;
}
.wrapper-chart {
    position: relative;
    overflow: auto;
    width: fit-content;
}
#ChartPhRes {
    margin: auto;
    height: 400px !important;
    width: 650px !important;
    aspect-ratio: auto 650 / 400;
}
@media (max-width: 650px) {
    .wrapper-chart {
        width: 100%;
    }
}
@media (max-width: 500px) {
    #ChartPhRes {
        margin: 0;
        width: 372px !important;
        min-height: 300px !important;
        height: 300px !important;
        aspect-ratio: auto 372 / 300;
    }
    .chart-ph {
        margin-top: 13px;
    }
    .wrapper-chart {
        backdrop-filter: blur(25px);
        background-color: rgba(255, 255, 255, 0.03);
    }
}
